{
    "running_mode": "normal",
    "compute_new_data": false,
    "train_new_model": true,

    "embedding_method": "fasttext",
    "embedding_algorithm": "skipgram",
    "train_data_filename": "train_nst.txt",
    "embedding_model_filename": "emb_model_full_ft.bin",

    "base_data_dir": "data/",
    "develop_base_data_dir": "dev_data/",
    "val_data_dir": "data/validation_data/",
    "config_path": "configuration.json",

    "embedding_vector_dim": 200,
    "min_token_appearance": 5,
    "tokenizer": "nst",

    "synonyms_numb_closest_vec": 40,
    "doesntfit_file": "german_doesntfit1.txt",
    "synonyms_file": "german_synonyms3.txt"
}
